USE [QUANLYKHACHSAN]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 02/07/2018 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABC] [char](5) NOT NULL,
	[LOAI_PNG] [nvarchar](20) NOT NULL,
	[THANG] [int] NOT NULL,
	[DOANH_THU] [int] NOT NULL,
	[TY_LE] [varchar](50) NOT NULL,
 CONSTRAINT [BAOCAO_PK] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC,
	[LOAI_PNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 02/07/2018 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[User_Name] [varchar](20) NULL,
	[Pass_Word] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 02/07/2018 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](5) NOT NULL,
	[MAPHIEU] [char](5) NOT NULL,
	[NGAY_TRA] [datetime] NULL,
	[SO_NGAY_THUE] [int] NOT NULL,
	[PHU_THU] [int] NULL,
	[THANH_TIEN] [int] NOT NULL,
	[TRI_GIA] [int] NOT NULL,
 CONSTRAINT [HOADON_PK] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 02/07/2018 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](20) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[LOAI_KH] [nvarchar](20) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[DIA_CHI] [nvarchar](50) NOT NULL,
 CONSTRAINT [KHACHHANG_PK] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 02/07/2018 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MAPHIEU] [char](5) NOT NULL,
	[NGAY_THUE] [date] NOT NULL,
	[MAKH] [varchar](20) NOT NULL,
	[MAPNG] [char](3) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[LOAI_KHACH] [bit] NOT NULL,
	[THANH_TOAN] [bit] NOT NULL,
 CONSTRAINT [PHIEUTHUE_PK] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 02/07/2018 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPNG] [char](3) NOT NULL,
	[LOAI_PNG] [nvarchar](20) NOT NULL,
	[DON_GIA] [int] NOT NULL,
	[GHI_CHU] [nvarchar](50) NULL,
	[TINH_TRANG] [bit] NOT NULL,
 CONSTRAINT [PHONG_PK] PRIMARY KEY CLUSTERED 
(
	[MAPNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAYDOIQUYDINH]    Script Date: 02/07/2018 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THAYDOIQUYDINH](
	[MAPHONG] [varchar](50) NULL,
	[GIA] [int] NULL,
	[SLNG] [int] NULL,
	[TYLE] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BAOCAO] ([MABC], [LOAI_PNG], [THANG], [DOANH_THU], [TY_LE]) VALUES (N'77016', N'Deluxe', 6, 0, N'0.00%')
INSERT [dbo].[BAOCAO] ([MABC], [LOAI_PNG], [THANG], [DOANH_THU], [TY_LE]) VALUES (N'77016', N'Standard', 6, 1200000, N'100.00%')
INSERT [dbo].[BAOCAO] ([MABC], [LOAI_PNG], [THANG], [DOANH_THU], [TY_LE]) VALUES (N'77016', N'Superior', 6, 0, N'0.00%')
INSERT [dbo].[DANGNHAP] ([User_Name], [Pass_Word]) VALUES (N'admin', N'admin')
INSERT [dbo].[HOADON] ([MAHD], [MAPHIEU], [NGAY_TRA], [SO_NGAY_THUE], [PHU_THU], [THANH_TIEN], [TRI_GIA]) VALUES (N'24540', N'64322', CAST(N'2018-06-04 00:00:00.000' AS DateTime), 1, 0, 400000, 1)
INSERT [dbo].[HOADON] ([MAHD], [MAPHIEU], [NGAY_TRA], [SO_NGAY_THUE], [PHU_THU], [THANH_TIEN], [TRI_GIA]) VALUES (N'30925', N'37465', CAST(N'2018-06-24 00:00:00.000' AS DateTime), 1, 0, 400000, 1)
INSERT [dbo].[HOADON] ([MAHD], [MAPHIEU], [NGAY_TRA], [SO_NGAY_THUE], [PHU_THU], [THANH_TIEN], [TRI_GIA]) VALUES (N'49948', N'75136', CAST(N'2018-07-01 00:00:00.000' AS DateTime), 1, 0, 1000000, 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [HO_TEN], [LOAI_KH], [CMND], [DIA_CHI]) VALUES (N'1231', N'sadf', N'Nội địa', N'1231', N'sdfsdf')
INSERT [dbo].[KHACHHANG] ([MAKH], [HO_TEN], [LOAI_KH], [CMND], [DIA_CHI]) VALUES (N'123123', N'213', N'Nội địa', N'123123', N'asdd')
INSERT [dbo].[KHACHHANG] ([MAKH], [HO_TEN], [LOAI_KH], [CMND], [DIA_CHI]) VALUES (N'12333', N'123', N'Nội địa', N'12333', N'123')
INSERT [dbo].[PHIEUTHUE] ([MAPHIEU], [NGAY_THUE], [MAKH], [MAPNG], [SO_LUONG], [LOAI_KHACH], [THANH_TOAN]) VALUES (N'13084', CAST(N'2018-06-30' AS Date), N'322', N'102', 3, 0, 0)
INSERT [dbo].[PHIEUTHUE] ([MAPHIEU], [NGAY_THUE], [MAKH], [MAPNG], [SO_LUONG], [LOAI_KHACH], [THANH_TOAN]) VALUES (N'37465', CAST(N'2018-06-24' AS Date), N'32', N'102', 1, 0, 1)
INSERT [dbo].[PHIEUTHUE] ([MAPHIEU], [NGAY_THUE], [MAKH], [MAPNG], [SO_LUONG], [LOAI_KHACH], [THANH_TOAN]) VALUES (N'64322', CAST(N'2018-06-04' AS Date), N'1231', N'101', 1, 0, 1)
INSERT [dbo].[PHONG] ([MAPNG], [LOAI_PNG], [DON_GIA], [GHI_CHU], [TINH_TRANG]) VALUES (N'101', N'Standard', 400000, N'', 1)
INSERT [dbo].[PHONG] ([MAPNG], [LOAI_PNG], [DON_GIA], [GHI_CHU], [TINH_TRANG]) VALUES (N'102', N'Standard', 400000, N'', 1)
INSERT [dbo].[PHONG] ([MAPNG], [LOAI_PNG], [DON_GIA], [GHI_CHU], [TINH_TRANG]) VALUES (N'103', N'Superior', 1000000, N'', 0)
INSERT [dbo].[THAYDOIQUYDINH] ([MAPHONG], [GIA], [SLNG], [TYLE]) VALUES (N'A', 170000, 4, 1.5)
INSERT [dbo].[THAYDOIQUYDINH] ([MAPHONG], [GIA], [SLNG], [TYLE]) VALUES (N'B', 280000, 4, 1.5)
INSERT [dbo].[THAYDOIQUYDINH] ([MAPHONG], [GIA], [SLNG], [TYLE]) VALUES (N'C', 170000, 4, 1.5)
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MAPHIEU_PHIEUTHUE] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUTHUE] ([MAPHIEU])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MAPHIEU_PHIEUTHUE]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_MAKH_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_MAKH_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_MAPNG_PHONG] FOREIGN KEY([MAPNG])
REFERENCES [dbo].[PHONG] ([MAPNG])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_MAPNG_PHONG]
GO
